<div class="buttons" layout="row" layout-align="space-around center">

  <div class="col" layout="column" layout-align="space-around center">
    <div class="lunaButton">
      <md-button class="md-fab button" ng-click="vm.setActive($index)" ng-class="vm.isActive[$index]"></md-button>
    </div>
    <div class="lunaButton">
      <md-button class="md-fab button" ng-click="vm.setActive($index)" ng-class="vm.isActive[$index]"></md-button>
    </div>
  </div>

  <div class="col" layout="column" layout-align="space-around center">
    <div class="lunaButton">
      <md-button class="md-fab button" id="crescent" ng-click="vm.setActive($index)" ng-class="vm.isActive[$index]"></md-button>
    </div>
    <div class="lunaButton">
      <md-button class="md-fab button" id="crescent" ng-click="vm.setActive($index)" ng-class="vm.isActive[$index]"></md-button>
    </div>
  </div>

</div>
